html,
body {
  color: white;
  background-color: black;
  padding: 0 0.5rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.titleName{
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
 .word{
  padding-top: 2rem;
  width: 90%;
  margin: 0% auto;
  font-size: 1.1rem;
 }