
.main{
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  top: 1rem;
  line-height: 0%;
  
}

.logo{
  justify-content: center;
  display: flex;
  top: 1rem;
  padding-left: 2.5rem;
}

.logo2{
  height: 15rem;;
  line-height: 20rem;
  
}
.textArea{
  margin: 0 auto;
  width: 90%;

}
.pText{
  text-align: center;
  font-size: 1.2rem;
}
.logoText{
  padding-left: 3.5rem;
  padding-right: 3rem;
  padding-top: 2rem;
  font-size: 3rem;
}
.titleMassage{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;

}
.title{
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog{
  list-style: none;
  font-size: 1.5rem;
  padding-right: 2.5rem;
  margin-right: 2rem;
  padding: rem;

}
.blogs{
  padding-top: 2rem;
}

.titleSns{
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.titleProfile{
  font-size: 1.5rem;
  list-style: none;
  padding: 5rem;
  margin-right: 3.8rem;
}
